

<h3 id="message-box1"></h3>
<br>
<h3 id="message-box2"></h3>
<br>
<h3 id="message-box3"></h3>
<br>

<script>    
    // decode credential from base64
    var txt = document.createElement("textarea");
    txt.innerHTML = "<%= credential %>";
    var credential = txt.value

    // GET identities from the wallet
    document.getElementById('message-box1').innerHTML += '1.  Identity retrieving... Select it in the wallet. ';
    var i;
    retrieveDID = new XMLHttpRequest();  
    retrieveDID.open('GET', 'http://localhost:8000/identities/select', true)
    new function (i) {  
        retrieveDID.onreadystatechange = function () {  
            if (this.readyState === 4 && this.status === 200) { 
                document.getElementById('message-box1').innerHTML += 'Identity retrieved!';
                document.getElementById('message-box2').innerHTML += '2.  Verifiable credential generation...';
                // Retrieve DID of the user
                //console.log(this.response)                            
                let data = this.response
                //let didObj = data.substring(1,data.length-1)
                let did = JSON.parse(data).did        
                console.log(did)
                let encodedDid = encodeURIComponent(did);
                let encodedCredential = encodeURIComponent(JSON.stringify(credential));
                //console.log(encodedCredential)
            
                // Call to VC service to create the Verifiable Credential
                createCredential = new XMLHttpRequest();  
                createCredential.open('GET', '/release2/vc/credential/issue/' + did + '/' + credential, true)
                new function (i) {  
                    createCredential.onreadystatechange = function () {  
                        if (this.readyState === 4 && this.status === 200) { 
                            
                            document.getElementById('message-box2').innerHTML += ' Verifiable credential generated!';
                            document.getElementById('message-box3').innerHTML += '3.  Storing the credential... Allow the storing in the wallet. ';

                            // Retrieve the credential object in W3C standard
                            console.log('generated credential:')
                            console.log(this.response)
                                                                    
                            let credential = JSON.parse(this.response)  
                            let credentialToPost = {}                                      
                            credentialToPost.resource = credential
                            credentialToPost.type = 'VerifiableCredential'
                            credentialToPost.identity = credential.credentialSubject.id
                            
                            storeCredential = new XMLHttpRequest();  
                            storeCredential.open('POST', 'http://localhost:8000/resources')
                            storeCredential.setRequestHeader('Content-Type', 'application/json');
                            new function (i) {  
                                storeCredential.onreadystatechange = function () {  
                                    if (this.readyState === 4 && this.status === 201) { 
                                        
                                        // Print the wallet response  
                                        console.log('wallet response:')
                                        console.log(this.response)                                
                                        document.getElementById('message-box3').innerHTML += 'Credential saved in the wallet<br>Id of the credential: ' + this.response; 

                                    }
                                };  
                            }(i);  
                            console.log(typeof credentialToPost)
                            console.log(credentialToPost)
                            storeCredential.send(JSON.stringify(credentialToPost));
                        }
                    };  
                }(i);  
                createCredential.send();
            }
        };  
    }(i);  
    retrieveDID.send();

   
</script>
