
<label>Session <span id='session-state'></span></label>
<h3 id="message-box1"></h3>
<br>
<h3 id="message-box2"></h3>
<br>
<h3 id="message-box3"></h3>
<br>

<script>    
    // decode credential from base64
    var txt = document.createElement("textarea");
    txt.innerHTML = "<%= credential %>";
    credential = txt.value
    console.log(credential)

    // decode callbackUrl from base64
    var txt2 = document.createElement("textarea");
    txt2.innerHTML = "<%= callbackUrl %>";
    callbackUrl = txt2.value
    console.log(callbackUrl)
    
    
    
    // GET identities from the wallet
    // document.getElementById('message-box1').innerHTML += '1.  Identity retrieving... Select it in the wallet. ';

   
</script>
<script src="/js/login.js"></script>