<% if (locals.qr) { %>
<input type="button" style="text-align: right; margin-bottom: 10px; padding:5px 15px; background:#ccd; border:0 none; cursor:pointer; -webkit-border-radius: 5px; border-radius: 5px;" onclick="window.history.back()" value="Go back">
<div class="qr"><img src="<%- locals.qr %>"/></div>
<script src="/js/login.js"></script>
<% } %>
