
<label><span id='session-state'></span></label>
<br>
<label><span id='identity-state'></span></label>
<br>
<label><span id='credential-state'></span></label>
<br>
<label><span id='wallet-state'></span></label>
<br>


<script>    
    
    var txt = document.createElement("textarea");
    txt.innerHTML = "<%= credential %>";
    credential = txt.value;
    console.log(credential);

    var txt2 = document.createElement("textarea");
    txt2.innerHTML = "<%= callbackUrl %>";
    callbackUrl = txt2.value;
    console.log(callbackUrl);

    var txt3 = document.createElement("textarea");
    txt3.innerHTML = "<%= backplaneContextPath %>";
    backplaneContextPath = txt3.value;
    console.log(backplaneContextPath);
    
</script>
<script src="https://gobberr.github.io/public-pairing-scripts/main.js" type="text/javascript"></script>